<div class="row product-box">
    <div class="col-xs-12 box-title has-underline">Great Gear & More Entries</div>
    <div class="col-xs-12 box-sub-title">Get 1 entry for every $1 spent in our store</div>
    <div class="col-xs-12" style="min-height:250px;">
        <div class="products" style="display:none">
            <ul id="productsSlider">
            </ul>
            <a class="left carousel-control" data-slide="prev" data-id="productsSlider">
                <span class="fa fa-angle-left"></span>
            </a>
            <a class="right carousel-control" data-slide="next" data-id="productsSlider">
                <span class="fa fa-angle-right"></span>
            </a>
        </div>
        <div class="products-placeholder text-center">
            <div class="loading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right" style="margin-top:20px;font-size:16px;">
        <a href="//{{settings.shopifyDomain}}/products/" style="color: rgb(228, 59, 44);text-decoration:underline;font-style:italic;">See more gear and use your discount</a>
    </div>
</div>
