<div style="color: 2f2f2f;">
    <div style="padding: 20px; background: #f5f5f5; border-top-left-radius: 4px; border-top-right-radius: 4px;">
        <div style="font-size: 18px;">
            <b>Enthusiast - </b>You love finding the other car guy at a party
        </div>
        <div style="font-size: 14px;">
            We are a rare breed, those who the perfect lines of a '57 Bel Air or the idle of a big block aren't just machinery but art.
            Cars don't get us to point A to point B, they take us on a journey of passion.
        </div>
    </div>
    <div style="height: 40px; line-height: 20px; padding: 10px; text-align:center; color: white; background:url('https://app.clickfunnels.com/images/black-geo.png')">
        Get 10% discount on all RestoMod Merchandise: CODE "Enthusiast"
    </div>
    <div class="row" style="margin-top: 32px;">
        <div class="col-xs-4">
            <img class="img-responsive" src="{{ asset('images/dashboard/restmods_monthly.png') }}"></img>
        </div>
        <div class="col-xs-8">
            <div style="font-size: 18px; line-height: 24px; padding-bottom: 5px; border-bottom: 2px solid #e2e7e8">
                <b>RestoMods Monthly</b>
            </div>
            <div style="padding: 8px 0px; font-size: 14px;">
                Get the latest in from the RestoMods industry in our monthly digital magazine.
                Featuring the car exclusives, new parts reports, car show reviews, and much more.
                A magazine written for RestoMod enthusiasts by our team here
            </div>
            <a href="#" class="elButton">
                <span class="main">View The Latest Issue</span>
                <span class="sub">Next Issue Released April 15th</span>
            </a>
        </div>
    </div>
    <div style="height: 1px;  border-bottom: 2px solid #e2e7e8; margin-top: 32px;"></div>
    <div style="font-size: 18px; text-align:center; margin-top: 20px;">
        <b>Auction Stand Outs - Mecum Houston</b>
    </div>
    <div class="" style="margin-top: 16px; display:flex; background: rgba(0,0,0,0.07); padding-top: 10px;">
        <div class="" style="flex: 1 0; padding: 0px 8px;">
            <a style="cursor:pointer" href="https://www.mecum.com/lots/HA0418-324842/1967-shelby-gt500-fastback/">
                <div class="aspect3-2"><img class="img-responsive thumbnail" src="{{ asset('images/dashboard/car4.png') }}"></img></div>
                <div style="font-size:18px; font-weight:bold; text-align:center">
                    Shelby GT 500<br>
                    No. 00881<br>
                    No Reserve
                </div>
            </a>
        </div>
        <div class="" style="flex: 1 0; padding: 0px 8px;">
            <a style="cursor:pointer" href="https://www.mecum.com/lots/SC0518-327284/1956-chevrolet-nomad/">
                <div class="aspect3-2"><img class="img-responsive thumbnail" src="{{ asset('images/dashboard/car5.png') }}"></img></div>
                <div style="font-size:18px; font-weight:bold; text-align:center">
                    RestoMod<br>
                    '55 Nomad
                </div>
            </a>
        </div>
        <div class="" style="flex: 1 0; padding: 0px 8px;">
            <a style="cursor:pointer" href="https://www.mecum.com/lots/HA0418-324842/1967-shelby-gt500-fastback/">
                <div class="aspect3-2"><img class="img-responsive thumbnail" src="{{ asset('images/dashboard/car6.png') }}"></img></div>
                <div style="font-size:18px; font-weight:bold; text-align:center">
                    1969 BOSS 429<br>
                    NASCAR Motor<br>
                    820 - S<br>
                </div>
            </a>
        </div>
    </div>
</div>
