<div style="color: 2f2f2f;">
    <div style="padding: 20px; background: #f5f5f5; border-top-left-radius: 4px; border-top-right-radius: 4px;">
        <div style="font-size: 18px;">
            <b>GearHead : </b>You know all the parts for your dream car
        </div>
        <div style="font-size: 14px;">
            We all love car shows, checking out the cars with your fellow gear heads, and dreaming of what we would do different.
            But its hard to hit all the big shows ( SEMA, GoodGuys, Barrett Jackson, ...)
            Well now we will take you behind the scenes with us, to all the shows big and small.
            Oh! Don't forget you have a premium classified listing for any car gear you want to sell.
        </div>
    </div>
    <div style="height: 40px; line-height: 20px; padding: 10px; text-align:center; color: white; background:url('https://app.clickfunnels.com/images/black-geo.png')">
        Get 20% Discount on All RestoMod Products: CODE "gearhead"
    </div>
    <div style="margin: 32px">
        <div style="font-size:21px;">
            <b><u>Good Guys Del Mar Nationals - Posted Here Soon...</u></b>
        </div>
        <div style="margin: 20px 0px;">
            <img class="img-responsive" src="{{ asset('images/dashboard/car7.png') }}"></img>
        </div>
        <div style="font-size:16px;color:616161">
            <b>If you are going, reach us via Facebook to meet up and grab a beverage</b>
        </div>
    </div>
</div>
