<div style="color: 2f2f2f;">
    <div style="padding: 20px; background: #f5f5f5; border-top-left-radius: 4px; border-top-right-radius: 4px;">
        <div style="font-size: 18px;">
            <b>Grease Monkey : </b>You can LS motor swap over a weekend
        </div>
        <div style="font-size: 14px;">
            Everyone loves an OEM Z28 or SS, but RestoMods are about customization.
            When the weekend hits you want to enjoy the benefits of modern technology with the classic stylings of and sound of era.
            A 289 is great, but why not an LS1? The best part, you can put it in yourself...
        </div>
    </div>
    <div style="height: 40px; line-height: 20px; padding: 10px; text-align:center; color: white; background:url('https://app.clickfunnels.com/images/black-geo.png')">
        Get 25% Discount on All RestoMod Products: CODE "greasemonkey"
    </div>
    <div style="margin: 32px">
        <div class="row">
            <div class="col-xs-5">
                <img class="img-responsive" src="{{ asset('images/dashboard/resto_logo_1.png') }}"></img>
            </div>
            <div class="col-xs-7">
                <div style="font-size: 18px; line-height: 24px; padding-bottom: 5px; border-bottom: 2px solid #e2e7e8">
                    <b>Wear Your Passion With Pride</b>
                </div>
                <div style="padding: 8px 0px; font-size: 14px;">
                    Your RestoMod Car Club match is on its way.
                    Put it on your favorite jacket, shirt, or just pin it in your garage.
                    Remind yourself and everyone, that this isn't tinkering around, this is true passion.
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:32px;">
            <div class="col-xs-7">
                <div style="font-size: 18px; line-height: 24px; padding-bottom: 5px; border-bottom: 2px solid #e2e7e8">
                    <b>Join Other Grease Monkeys</b>
                </div>
                <div style="padding: 8px 0px; font-size: 14px;">
                    Join our private facebook group for car people to their core.
                    Chat about cars, get deals on parts, share your latest project, and just interact with people who share your passion.
                </div>
                <a href="#" class="elButton">
                    <span class="main">Join Your Fellow Enthuiasts</span>
                    <span class="sub">Check Out the fb Page</span>
                </a>
            </div>
            <div class="col-xs-5">
                <img class="img-responsive" src="{{ asset('images/dashboard/resto_logo_fb.png') }}"></img>
            </div>
        </div>
    </div>
</div>
