<div>
    <div class="header strong" style="font-size: 18px; padding: 20px;">
        A Quick Message From RestoMods Mike...
    </div>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/HcOYC0lJXUU"></iframe>
    </div>
    <div class="row" style="margin-top: 16px; display:flex; align-items: baseline;">
        <div class="" style="flex: 1 0; padding: 0px 8px;">
            <a style="cursor:pointer" href="https://restomods.com/the-pontiac-gto-the-car-that-started-a-trend-5247/">
                <div class="aspect1-1">
                  <img class="img-responsive thumbnail" src="{{ asset('images/dashboard/car1.jpg') }}"></img>
                </div>

                <div class="strong" style="font-size:16px; text-align:center; margin-top: 8px;">History Of The GTO</div>
            </a>
        </div>
        <div class="" style="flex: 1 0; padding: 0px 8px;">
            <a style="cursor:pointer" href="https://restomods.com/the-pontiac-gto-the-car-that-started-a-trend-5247/">
                <div class="aspect1-1"><img class="img-responsive thumbnail" src="{{ asset('images/dashboard/car2.png') }}"></img></div>
                <div class="strong" style="font-size:16px; text-align:center; margin-top: 8px;">Fastest Muscle Cars Ever</div>
            </a>
        </div>
        <div class="" style="flex: 1 0; padding: 0px 8px;">
            <a style="cursor:pointer" href="https://restomods.com/history-of-the-corvette-4659/">
                <div class="aspect1-1"><img class="img-responsive thumbnail" src="{{ asset('images/dashboard/car3.png') }}"></img></div>
                <div class="strong" style="font-size:16px; text-align:center; margin-top: 8px;">The Corvette is Born</div>
            </a>
        </div>
    </div>
</div>
