/*
Inspired by the dribble shot http://dribbble.com/shots/1285240-Freebie-Flat-Pricing-Table?list=tags&tag=pricing_table
*/
/*--------- Font ------------*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

.rm-pricing-table * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*------ utiltity classes -----*/
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /*For IE 6/7 (trigger hasLayout) */
}

.rm-pricing-table {
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;
}

.wrapper {

}

.pricing-table {
    margin: 50px auto;
    text-align: center;
    padding: 10px 0 10px 10px;
}

.pricing-table .heading {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: #E33837;
    border: 1px #E33837 solid;
    border-radius: 8px;
    padding: 16px;
}

.pricing-table .sub-heading {
    color: #9C9E9F;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.block {
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*    border: 1px solid red;*/
}

/*Shared properties*/
.title, .pt-footer {
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}

.content {
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}

/*arrow creation*/
.content:after, .content:before, .pt-footer:before, .pt-footer:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.content .best-value {
    display: inline;
    position: absolute;
    top: 16px;
    background-color: #1176B3;
    padding: 8px 16px;
    font-size: 0.6em;
    font-variant: small-caps;
    letter-spacing: 2px;
    right: 0;
}

.pt-footer:after, .pt-footer:before {
    top: 0;
}

.content:after, .pt-footer:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 5px;
    margin-left: -5px;
}

/*/arrow creation*/
.price {
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}

.price span {
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;
    letter-spacing: 0;
}

.price sup {
    font-size: 1.5rem;
    position: absolute;
    top: 8px;
    left: -12px;
}

.price sub {
    font-size: 0.8em;
    font-weight: lighter;
}

.hint {
    font-style: italic;
    font-size: 1.7rem;
    margin-top: 8px;
}

.features {
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding: 40px 10px;
    font-size: 2rem;
}

.features li {
    padding: 15px 0;
    width: 100%;
    font-size: 17px;
}

.features li span {
    padding-right: 0.4rem;
}

.features .icon {
    color: black;
}

.pt-footer {
    font-size: 0.95rem;
    text-transform: capitalize;
}

.pt-footer p {
    font-size: 1.8em;
}

.pt-footer .icon {
    font-size: 1.3em;
}

.pt-footer a {
    color: #FFFFFF;
}

.pt-footer a:hover {
    text-decoration: none;
    cursor: pointer;
}

/*PERSONAL*/
.personal .title {
    background: #1176B3;
}

.personal .content, .personal .pt-footer {
    background: #1790DC;
}

.personal .content:after {
    border-top-color: #1790DC;
}

.personal .pt-footer:after {
    border-top-color: #FFFFFF;
}

.personal .pt-footer-bottom {
    min-height: 10px;
    background-color: #1176B3;
}

/*PROFESSIONAL*/
.professional .title {
    background: #389886;
}

.professional .content, .professional .pt-footer {
    background: #85D9CA;
}

.professional .content:after {
    border-top-color: #85D9CA;
}

.professional .pt-footer:after {
    border-top-color: #FFFFFF;
}

.professional .pt-footer-bottom {
    min-height: 10px;
    background-color: #389886;
}