{% extends 'RestomodsListingBundle::base.html.twig' %}

{% block body %}
    <div class="rm-registration-form-container">
        <p>
            {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
        </p>
    </div>
{% endblock body %}
