<a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-default edit_link" title="Edit" data-toggle="tooltip">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <span class="rm-action">Edit</span>
</a>