<a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-sm btn-default view_link" title="Show" data-toggle="tooltip">
    <i class="fa fa-search-plus" aria-hidden="true"></i>
    <span class="rm-action">Show</span>
</a>