<a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link" title="Delete" data-toggle="tooltip">
    <i class="fa fa-times" aria-hidden="true"></i>
    <span class="rm-action">Delete</span>
</a>