{% if not object.active %}
<a href="{{ admin.generateObjectUrl('activate', object) }}" class="btn btn-sm btn-default activate_link" title="Activate" data-toggle="tooltip">
    <i class="fa fa-power-off" aria-hidden="true"></i>
    <span class="rm-action">Activate</span>
</a>
{% endif %}
