<p>I noticed you started to enter to win the 1969 Camaro, and I want to make sure you don’t miss out on the chance to claim your entries.</p>
<p>The easiest way to enter the sweepstakes is to join our VIP membership for just $9. The membership comes with the sweepstakes entries, sure, but has many other benefits like:</p>
<ul>
    <li>5 entries into the sweepstakes per month</li>
    <li>Free Classified ads on Restomods.com ($25 value each)</li>
    <li>Discounts at nationwide auto retailers (up to 15% off)</li>
    <li>10% off in our Restomods team store</li>
</ul>
<p>Click this link below to complete your membership:</p>
<p><a href="TOKEN_URL" style="color: inherit;">TOKEN_URL</a></p>
<p>There aren't a lot of entries at this time, and the sweepstakes ends March 20, 2018. Stock up on entries now!</p>
<p>So get your 5 entries at this price while you can:</p>
<p><a href="TOKEN_URL" style="color: inherit;">TOKEN_URL</a></p>
<p>There is no purchase necessary to enter please review the official rules link on the sweepstakes page for full information.</p>
<p>Thank you and good luck,</p>
<p>Chuck</p>