<div style="font-family: 'Open Sans',sans-serif;width:100%;max-width:960px;min-width:600px;margin:30px auto 0;background: #fff;border: 5px solid rgb(228,59,44);border-radius: 5px;line-height: 1.5em;">
    <div style="padding:30px 10px 0;border-bottom: 1px solid #fff;box-sizing: border-box;text-align:center;color:rgb(228,59,44);font-size:32px;font-weight:bold;">
        <img src="https://restomods.com/images/logo.png" alt="restoMODS" style="max-width:100%;padding-bottom: 8px;border-bottom: 1px solid #2F2F2F;" />
        <div style="text-align: center;font-size: 22px;color:rgb(47,47,47);padding-top:10px;font-weight: normal;">Home Of True Enthusiasts</div>
    </div>
    <div style="margin:0; padding:20px 90px 30px;min-height: 300px;box-sizing: border-box;color:rgba(47,47,47,0.77);font-size: 18px;">
        {{ content | raw }}
    </div>
</div>
