<p>Welcome to RestoMods!<p>
<p>Congratulations on entering for your chance to win {{ sweepstakes ? sweepstakes : 'Sweepstakes' }}. You are now a VIP member of the Internet’s fastest growing group (more than 2,000 people daily) of vintage car, hot rod, and restomod enthusiasts. Along with your sweepstakes entries, you get access to exclusive content, special car offers, free classified postings, and more.</p>
<p>As a special offer for new members, get an extra entry into the sweepstakes for every friend who signs up. Just send, share, or post the link below with your friends and increase your chance of winning 20 percent!</p>
<p><a href="{{ referralUrl }}" style="color: inherit;">{{ referralUrl }}</a></p>
<p>To complete your account sign up please reset your password using the link below ( no matter what your entries are in the sweepstakes).</p>
<p><a href="{{ confirmationUrl }}" style="color: inherit;">Reset Password</a></p>
<p>Thanks again and happy cruising,</p>
<p>Chuck & The RestoMod Team</p>